@media screen and (max-width: 1900px) {
  .p-picklist {
    display: flex;
    background-color: #2e5fe7;
    flex-direction: column;

    .p-picklist-buttons {
      padding: 0rem;
      display: flex;
      flex-direction: row !important;
    }

    .p-picklist-list {
      min-height: 8rem;
      max-height: 12rem;
    }
  }
}
